.details {

    position: fixed;
    top: 0;
    left: 0;
    background: #0E0E0E;
    height: 100vh;
    width: 100%;
    transition: all .5s ease;
    z-index: 99;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transform: translateY(1000px);

    &-image {
        display: flex;
        width: 50%;
        flex-direction: column;

        margin-top: 20px;
        gap: 20px;

        img {
            border-radius: 8px;
        }

        .links {
            display: flex;
            gap: 20px;
            align-items: center;

            a {
                background: linear-gradient(to right, #FFCC00, #FF6B00);
                border-radius: 7px;
                padding: 10px 15px;
                color: #fff;
                text-decoration: none;
                font-weight: bold;

                &:last-child {
                    background: transparent;
                }
            }

            @media (max-width: 600px) {
                flex-direction: column;
                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        @media (max-width: 600px) {
            width: 100%;
            img {
                object-fit: contain;
                height: 50vh;
            }
        }
    }
}

.details.active {
    transform: translate(0);
}

.close-details {
    position: absolute;
    bottom: 1rem;
    transform: translateX(-50%);
    left: 50%;
    img {
        width: 50px;
        transform: rotate(90deg)!important;
        filter: invert(100%);
        cursor: pointer;
    }

}

.light-details {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 50%;
    @media(max-width: 700px){
        width: 100%;
    }
}